<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1>Register</h1>
      <form id="registerForm">
        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="first_name"
            placeholder="First Name"
            name="first_name"
          />
          <label for="first_name">First Name</label>
        </div>

        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="last_name"
            placeholder="Last Name"
            name="last_name"
          />
          <label for="last_name">Last Name</label>
        </div>

        <div class="form-floating mb-3">
          <input
            required
            type="email"
            class="form-control"
            id="email"
            placeholder="Email"
            name="email"
          />
          <label for="email">Email</label>
        </div>

        <div class="form-floating mb-3">
          <input
            required
            type="text"
            class="form-control"
            id="age"
            placeholder="Age"
            name="age"
          />
          <label for="age">Age</label>
        </div>

        <div class="form-floating mb-3">
          <input
            required
            type="password"
            class="form-control"
            id="password"
            placeholder="Email"
            name="password"
          />
          <label for="password">Password</label>
        </div>
        <button class="btn btn-outline-primary">Register</button>
      </form>
      <p>Are you registered?</p>
      <a href="/login">Login</a>
    </div>

  </div>
</div>
<script src="/js/register.js"></script>