<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <h1>Reset Password</h1>
      <form id="resetPasswordForm">
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
          <label for="password">Password</label>
        </div>
        <div class="form-floating mb-3">
          <input
            type="password"
            class="form-control"
            id="passwordRepeat"
            name="passwordRepeat"
          />
          <label for="passwordRepeat">Repeat Password</label>
        </div>
        <button class="btn btn-outline-primary">Reset</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/resetPassword.js"></script>