<div class="container mt-3">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6 col-lg-8">
      <h1>List Users</h1>
      <div class="col">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">First Name</th>
              <th scope="col">Last Name</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
            </tr>
          </thead>
          <tbody id="listUsers">
          </tbody>
        </table>
      </div>
      <h2>Update Role</h2>
      <form id="updateRoleForm">
        <select id="selectUser" required class="form-select mb-3">
          <option value="">Select User</option>
        </select>
        <select id="role" class="form-select mb-3" required>
          <option value="">Select a role</option>
          <option value="user">User</option>
          <option value="premium">Premium</option>
        </select>
        <button class="btn btn-outline-primary">Update Role</button>
      </form>
    </div>
  </div>
</div>
<script src="/js/updateRole.js"></script>